/**
 *  maxxidom Popup v1.5.3
 *  Autor: Alexander Bechthold
 *  Date: 02.10.2017
 *  Licensed under the MIT license
 */


.modal{
    position: fixed;
    width: 60vw;
    height: 60vh;
    margin: 20vh 0 0 20vw;
    background: #fff;
    display: none;
    z-index: 1001;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 3px;
    overflow-Y: auto;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
    cursor: pointer;
}

.open{
    display: block;
}
